html {
    background-color: #bebebe;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.3px;
}

header {
    color: rgb(255, 255, 255);
    background-color: #637A9F;
    padding-bottom: 1px;
    padding-top: 3px;
    padding-right: 50px;
    letter-spacing: 2px;
    border-radius: 30px;
    text-align: right;
}

nav {
    font-size: 24px;
    box-sizing: border-box;
    padding-right: 30px;
    margin-top: 20px;
    border-radius: 50px;
    background-color: #637A9F;
}

nav li {
    margin-right: 10px;
}

nav li a {
    color: rgb(255, 255, 255);
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    float: right;
    text-decoration: none;
}

nav li a:hover {
    color: #000000;
    background-color: #FFFFFF;
    box-shadow: 0 1px 10px #637A9F;
    border-radius: 50px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    padding-bottom: 48px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    font-size: 10px;
}

main section {
    right: 10px;
    border: 0.5px solid #637A9F;
    border-right: 8px solid #637A9F;
    background-color: #ffffff;
    border-radius: 30px;
    margin-bottom: 50px;
    margin-left: 60%;
    margin-right: 0;
    font-size: 20px;
    box-shadow: 0 1px 10px #637A9F;
}

.section {
    text-align: center;
    padding: 40px;
    line-height: 30px;
}

.list {
    text-align: left;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 50px;
}

.list li {
    padding-top: 20px;
    color: #000000;
    border-radius: 50px;
}

.list li a {
    color: #000000;
}

main section div a:hover {
    color: #000000;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 10px #637A9F;
    padding: 10px;
    border-radius: 50px;
}

img {
    border-radius: 25px;
    border: 0.5px solid #637A9F;
}

img:hover {
    box-shadow: 0 5px 10px #637A9F;
}

.image {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
}