header {
    color: rgb(255, 255, 255);
    background-color: rgb(196, 180, 84);
    padding-bottom: 1px;
    padding-top: 3px;
    padding-left: 10px;
    font-family: serif, Algerian;
    letter-spacing: 2px;
}
nav {
    padding-bottom: 38px;
    margin: 10px;
    background-color: darkgray;
}
nav li {
    float: left;
}
nav li a {
    color: rgb(0, 0, 0);
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}
nav li a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(196, 180, 84);
}
nav ul {
    color: rgb(0, 0, 0);
    list-style-type: none;
    overflow: visible;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgb(196, 180, 84);
    width: 100%;
    text-align: center;
}
main section {
    border-left: 6px solid rgb(196, 180, 84);
    background-color: darkgray;
    border-radius: 100px;
    padding: 2%;
    width: 30%;
    margin: 30px;
}

#second {
    position: absolute;
    left: 500px;
    top: 160px;
}