html {
    background-color: rgb(230, 217, 199);
    color: rgb(74, 63, 50);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.3px;
    font-size: 24px;
}

header {
    color: rgb(255, 255, 255);
    background-color: rgb(222, 184, 135);
    padding-bottom: 1px;
    padding-top: 3px;
    padding-right: 50px;
    letter-spacing: 2px;
    border-radius: 30px;
    text-align: right;
}

nav {

    box-sizing: border-box;
    padding-right: 38px;
    margin-top: 20px;
    border-radius: 50px;
    background-color: rgb(222, 184, 135);
}

nav li {
    margin-right: 10px;
}

nav li a {
    color: rgb(255, 255, 255);
    margin-bottom: 100px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    float: right;
    text-decoration: none;
}

nav li a:hover {
    color: rgb(74, 63, 50);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 10px rgb(74, 63, 50);
    border-radius: 50px;
}

nav ul {
    color: rgb(74, 63, 50);
    list-style-type: none;
    padding: 0;
    padding-bottom: 48px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgb(222, 184, 135);
    width: 100%;
    text-align: center;
}

main section {
    position: absolute;
    right: 0;
    border-right: 8px solid rgb(222, 184, 135);
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 2%;
    width: 40%;
    margin: 30px;
}

section {
    text-align: center;
}

img {
    border-radius: 30px;
    margin: 10px;
}

#second {
    position: absolute;
    left: 500px;
    top: 160px;
}

.image {
    width: 500px;
    height: 500px;
    object-fit: cover;
}